.App {
  max-width: 1800px;
  margin-left: 50px;
  margin-right: auto;
  font-size: 16px;
}

.Nav {
  background-color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  min-height: 5vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  list-style: none;
  border-bottom: 2px solid #9c9c9c;
}

.LinkNav {
  padding: 20px;
  text-decoration: none;
  font-weight: normal;
  color: rgb(32, 6, 148);
}

.ActiveLink {
  color: red;
  font-weight: bold;
}
